/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-cyrillic_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-cyrillic_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	background-color: #ffffff;
	font-size: 100%;
}

* {
    box-sizing: border-box;
}

.navigation ul {
	background-color: #323232;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	text-align: center;		
	padding-bottom: 15px;
	padding-top: 15px;							
}		

.navigation li {
	display: inline-block;			
  	padding: 0px 12px;
}

.navigation a {
	color: white;
	font-size: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 0.4s;
}

.navigation a:hover {
 	text-decoration: none;
 	color: #2EB398;
}

.navigation {
	position: relative;
}

.navigation::after {
	content: '';
	position: absolute;
	border: 40px solid #323232;
	border-bottom: 0px solid transparent;
	border-right: 40px solid transparent;
	border-left: 40px solid transparent;		
	left: 50%;
	bottom: -40px;
	margin-left: -40px;
}	

.slider img {
	border: 0;
	display:block; 
	margin: 60px auto 30px auto;
	max-width: 100%;
}

.circle_btn {
	list-style-type: none;
	margin-left: 12%;
	padding: 0;
}

.circle_btn li {
	display: inline-block;
  	padding: 0px 3px;
}

.circle_btn a {	
	display: block;
  	border-radius: 50%;
  	border: 1px solid #323232;
  	background: #2EB398;
	width: 10px;
  	height: 10px;    
}

.about-me {
	background: #2EB398;
	padding: 20px 0;
}

.border-me {
  	padding: 2% 2%;
  	border-left: 1px solid #248E78;
  	border-right: 1px solid #248E78;
}

.me-image img {
	width: 100%;
}

.me-text h3, .contact-form h3 {
	color: white;
	margin-top: 20px;
	margin-bottom: 10px; 
	font-size: 1.4em;
}

.me-text h4 {
	color: #57E0C4;
	margin: 10px 0;	
}

.me-text p {
	color: white;
	margin: 0 0 10px;
	font-size: 0.8em;
	line-height: 1.8em;	
}

.navbar-brands {
	float: right;	
}

.navbar-brands ul{	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar-brands ul li{
	display: inline-block;
	margin-left: -4px;
}		

.navbar-brands ul li a {
	text-decoration: none;
	text-align: center;
}

.navbar-brands ul li a i{
	color: white;
	line-height: 52px;
  	width: 52px;
  	height: 52px;
  	font-size: 24px;    	
}

.navbar-brands ul li a i.fa-facebook-f {
	background: #3660A0;
}	

.navbar-brands ul li a i.fa-twitter {
	background: #2CAAE1;
}

.navbar-brands ul li a i.fa-google-plus-g {
	background: #DD5644;
}

.navbar-brands ul li a i.fa-pinterest {
	background: #CC2B27;
}

.navbar-brands ul li a i.fa-linkedin-in {
	background: #0A6C9B;
}

.navbar-brands ul li a i.fa-dribbble {
	background: #EF558F;
}

.contact-me {
	background-color: #353535;
}
.padding {
	padding: 3%;
}

.contact-form {
	background-color: #353535;
 	/* vertical-align: top;*/
}

.contact-form p {
	font-size: 14px;
  	color: #999999;
  	line-height: 1.5em;
  	margin: 0 0 10px;
}

.contact-form form input[type="text"], input[type="email"], textarea {
	font-family: 'Open Sans';
	width: 100%;
	background-color: #454545;
	color: #9C9C9C;
	border: 1px solid #303030;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.8em;
	outline: none;	
}

.contact-form form textarea {
	height: 160px;
	resize: none;
}

.contact-form form input:focus, textarea:focus {
  	border: 1px solid #2EB398;
}

.contact-form form input:hover, textarea:hover {
	border: 1px solid #2EB398;
}

.contact-form form input[type="submit"] {	
	font-family: 'Open Sans';
	padding: 14px 18px;
	margin-top: 5px;
	margin-bottom: 10px;
	background: #2EB398;
	color: white;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	transition-duration: 0.4s;	
}

.contact-form form input[type="submit"]:hover {
 	background: #2B9C85;
 	color: white;
}

.info {
	margin-top: 7%;
	background-color: #353535;	
	text-align: justify;
}

.info p {
	margin: 20px 0 0;
	color: #9C9C9C;
	line-height: 1.8em;
	font-size: 13px;
}

.info p span {
	color: white;
	font-size: 14px;
}

.info ul{	
	list-style-type: none;
	margin-top: 20px;
	padding: 0;
}

.info ul li{
	display: block;
  	margin: 10px 0;
}		

.info ul li i{
	color: #2EB398;
  	height: 20px;
  	font-size: 20px;    
}

.info ul span {
	color: #f0f0f0;
	font-size: 14px;
	margin-left: 10px;
}

.info ul li a {
	text-decoration: none;
	color: #f0f0f0;
	font-size: 14px;
	margin-left: 10px;
	transition-duration: 0.4s;
}

.info ul li a:hover {
 	text-decoration: none;
 	color: #2EB398;
}

.footer {
	background-color: #222222;
	padding: 3%;
}

.copyright p {
	text-align: center;
	color: #c9c9c9;
  	font-size: 14px;
  	line-height: 1.8em;
}

.copyright a {
	text-decoration: none;
	color: #2EB398;
	font-size: 14px;
	transition-duration: 0.4s;
}

.copyright a:hover {
 	text-decoration: none;
 	color: #c9c9c9;
}

.topbutton {
	width: 30px;
	height: 30px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
}

/* Portfolio */

.all-prj {
	padding: 4%;
}

h2.projects {
	text-transform: uppercase;
	color: white;
	background-color: #2EB398;
	padding: 15px;
	margin: 4% 0;
}

.project-n {
	margin: 10px 0;
}

.project-n a {
	text-decoration: none;
}

.project-n img {
	width: 100%;
	height: auto;
}

.project-n h3 {
	margin-top: 15px;
	margin-bottom: 10px;
}

.project-n h3 a{
	color: black;
	font-size: 1.2rem;
	font-weight: 400;
	/*font-variant: small-caps;*/
	text-transform: capitalize;
	transition: 0.3s;	
} 

.project-n h3 a:hover {
	color: #2EB398;
}  

.project-n h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-n h4 a{
	color: #2EB398;
	font-style: italic;
	font-size: 0.9rem;
  	font-weight: 400;
  	text-transform: capitalize;
	transition: 0.3s;
}

.project-n h4 a:hover {
	color: #3b3b3b;
}

.project-n p {
	color: #323232;
	font-size: 13px;
  	line-height: 1.8em;
  	margin: 5px 0 5px 0;	  
}