body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	background-color: #ffffff;
	font-size: 100%;
}

* {
    box-sizing: border-box;
}

.bg-dark {
	background-color: #323232 !important;
	
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	font-size: 0.9rem;	
	transition-duration: 0.4s;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #2EB398;
}

.navbar-dark .navbar-toggler {    
    border: none;
    outline: none;
}

.nav-item {
	display: inline-block;
	text-transform: uppercase;
	color: white;
	padding: 0px 8px;
}

.nav-item hr{
	margin: 0;
	border-top: 1px solid #242424;
}

.navbar::after {
	content: '';
	position: absolute;
	border: 40px solid #323232;
	border-bottom: 0px solid transparent;
	border-right: 40px solid transparent;
	border-left: 40px solid transparent;		
	left: 50%;
	bottom: -40px;
	margin-left: -40px;
}

.slider img {
	border: 0;
	display:block; 
	margin: 60px auto 30px auto;
	max-width: 100%;
}

.circle_btn {
	list-style-type: none;
	margin-left: 12%;
	padding: 0;
}

.circle_btn li {
	display: inline-block;
  	padding: 0px 3px;
}

.circle_btn a {	
	display: block;
  	border-radius: 50%;
  	border: 1px solid #323232;
  	background: #2EB398;
	width: 10px;
  	height: 10px;    
}

.about-me {
	background: #2EB398;
	padding: 20px 0;
}

.border-me {
  	padding: 2% 2%;
  	border-left: 1px solid #248E78;
  	border-right: 1px solid #248E78;
}

.me-image img {
	width: 100%;
}

.me-text h3, .contact-form h3 {
	color: white;
	margin-top: 20px;
	margin-bottom: 10px; 
	font-size: 1.4rem;
}

.me-text h4 {
	color: #57E0C4;
	margin: 10px 0;	
}

.me-text p {
	color: white;
	margin: 0 0 10px;
	font-size: 0.8rem;
	line-height: 1.5rem;	
}

.navbar-brands {
	float: right;	
}

.navbar-brands ul{	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar-brands ul li{
	display: inline-block;
	margin-left: -4px;
}		

.navbar-brands ul li a {
	text-decoration: none;
	text-align: center;
}

.navbar-brands ul li a i{
	color: white;
	line-height: 52px;
  	width: 52px;
  	height: 52px;
  	font-size: 24px;    	
}

.navbar-brands ul li a i.fa-facebook-f {
	background: #3660A0;
}	

.navbar-brands ul li a i.fa-twitter {
	background: #2CAAE1;
}

.navbar-brands ul li a i.fa-google-plus-g {
	background: #DD5644;
}

.navbar-brands ul li a i.fa-pinterest {
	background: #CC2B27;
}

.navbar-brands ul li a i.fa-linkedin-in {
	background: #0A6C9B;
}

.navbar-brands ul li a i.fa-dribbble {
	background: #EF558F;
}

.contact-me {
	background-color: #353535;
}
.padding {
	padding: 3%;
}

.contact-form {
	background-color: #353535;
}

.contact-form p {
	font-size: 14px;
  	color: #999999;
  	line-height: 1.5rem;
  	margin: 0 0 10px;
}

.contact-form form input[type="text"], input[type="email"], textarea {
	font-family: 'Open Sans';
	width: 100%;
	background-color: #454545;
	color: #9C9C9C;
	border: 1px solid #303030;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.6rem;
	outline: none;	
}

.contact-form form textarea {
	height: 160px;
	resize: none;
}

.contact-form form input:focus, textarea:focus {
  	border: 1px solid #2EB398;
}

.contact-form form input:hover, textarea:hover {
	border: 1px solid #2EB398;
}

.contact-form form input[type="submit"] {	
	font-family: 'Open Sans';
	padding: 14px 18px;
	margin-top: 5px;
	margin-bottom: 10px;
	background: #2EB398;
	color: white;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	transition-duration: 0.4s;	
}

.contact-form form input[type="submit"]:hover {
 	background: #2B9C85;
 	color: white;
}

.info {
	margin-top: 7%;
	background-color: #353535;	
	text-align: justify;
}

.info p {
	margin: 20px 0 0;
	color: #9C9C9C;
	line-height: 1.4rem;
	font-size: 13px;
}

.info p span {
	color: white;
	font-size: 14px;
}

.info ul{	
	list-style-type: none;
	margin-top: 20px;
	padding: 0;
}

.info ul li{
	display: block;
  	margin: 10px 0;
}		

.info ul li i{
	color: #2EB398;
  	height: 20px;
  	font-size: 20px;    
}

.info ul span {
	color: #f0f0f0;
	font-size: 14px;
	margin-left: 10px;
}

.info ul li a {
	text-decoration: none;
	color: #f0f0f0;
	font-size: 14px;
	margin-left: 10px;
	transition-duration: 0.4s;
}

.info ul li a:hover {
 	text-decoration: none;
 	color: #2EB398;
}

.footer {
	background-color: #222222;
	padding: 3%;
}

.copyright p {
	text-align: center;
	color: #c9c9c9;
  	font-size: 14px;
  	line-height: 1.8rem;
}

.copyright a {
	text-decoration: none;
	color: #2EB398;
	font-size: 14px;
	transition-duration: 0.4s;
}

.copyright a:hover {
 	text-decoration: none;
 	color: #c9c9c9;
}

.topbutton {
	width: 30px;
	height: 30px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
}

/* Portfolio */

.all-prj {
	padding: 60px 4%;
}

h2.projects {
	text-transform: uppercase;
	font-size: 1.6rem;
	color: white;
	background-color: #2EB398;
	padding: 15px;
	margin: /*5%*/ 0;
}

.project-n {
	margin: 10px 0;
}

.project-n a, .blog-n a {
	text-decoration: none;
}

.project-n img {
	width: 100%;
	height: auto;
}

.project-n h3 {
	margin-top: 15px;
	margin-bottom: 10px;
}

.project-n h3 a {
	color: black;
	font-size: 1.2rem;
	font-weight: 400;
	/*font-variant: small-caps;*/
	text-transform: capitalize;
	transition: 0.3s;	
} 

.project-n h3 a:hover {
	color: #2EB398;
}  

.project-n h4, .blog-n h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-n h4 a {
	color: #2EB398;
	font-style: italic;
	font-size: 0.9rem;
  	font-weight: 400;
  	text-transform: capitalize;
	transition: 0.3s;
}

.project-n h4 a:hover {
	color: #3b3b3b;
}

.project-n p {
	color: #323232;
	font-size: 13px;
  	line-height: 1.6rem;
  	margin: 5px 0 5px 0;	  
}

/* Blog */

.blogs {
	padding: 60px 3%; 
}

h2.blogs-hdr {
	text-transform: uppercase;
	font-size: 1.6rem;
	color: white;
	background-color: #2EB398;
	padding: 15px;
	margin: 0 0 10px 0;
}

.blogs img {
	width: 100%;
	height: auto;
}

.blog-n h4 a{
	display: block;
	color: #3b3b3b;
	font-size: 1.3rem;
  	text-transform: capitalize;
	transition: 0.3s;
}

.blog-n h4 a:hover{
	color: #2EB398;
}


.blog-l {
	float: left;
	margin: 0;
	padding: 0;	
}

.blog-l ul{	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.blog-l ul li {
	display: inline-block;
	padding-right: 15px;
}

.blog-l ul li i{
    color: #2EB398;
}

.blog-l ul li a span{
	text-decoration: none;
    text-transform: capitalize;
}

.blog-l ul li a span:hover {
	color: #2EB398;
}

.blog-l ul li span {
    padding-left: 5px;
	font-size: 0.8rem;
	font-weight: bold;
    color: #5A5A5A;	     
}

.blog-r {
	float: right;
	margin: 0;
	padding: 0;
}

.blog-r a{
	display: inline-block;
    color: #5A5A5A;
    font-size: 0.8rem;
    font-weight: bold;
}

.blog-r a:hover{
    color: #2EB398;
}

.clearfix {
	content: "";
    display: table;
    clear: both;
}

.blog-text {	
	font-size: 0.8rem;
    line-height: 1.6rem;
    color: #323232;
}

.btn-blogview a {
	color: white;
}

.btn-blogview {	
	font-family: 'Open Sans';	
	padding: 14px 18px;
	margin-bottom: 5%;
	background: #2EB398;
	text-transform: uppercase;	
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition-duration: 0.4s;
}

.btn-blogview:hover {
	background: #2B9C85;
 	color: white; 
}

.right-clmn h4{
	display: block;
	color: #3b3b3b;
	font-size: 1.3rem;
  	text-transform: capitalize;
  	padding: 0;
  	margin: 0 0 10px 0;
  	font-weight: bold;
}

.ul-tags {
	padding: 0;
	margin: 0 0 45px 0;
}

.ul-tags li {
	display: inline-block;
	margin: 10px 6px 0 0;
}

.ul-tags li a {
	display: block;
	color: #FFFFFF;
	text-transform: capitalize;
	padding: 8px 14px;
	background: #3b3b3b;
	text-decoration: none;
	font-size: 0.8rem;
	border-radius: 2px;
	transition: 0.4s;
}

.ul-tags li a:hover, .ul-tags li.active a{
	color: #FFFFFF;
	background: #2B9C85;
}

.subscribe form input[type="email"] {
	width: 100%;
	background-color: #F5F5F5;
	color: #9C9C9C;
	border: 1px solid #DADADA;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 0.8rem;
	line-height: 1.6rem;
	/*outline: none;*/
}

.subscribe form input[type="submit"] {	
	font-family: 'Open Sans';
	padding: 14px 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #2EB398;
	color: white;
	float: right;
	border: none;
	/*outline: none;*/	
	cursor: pointer;
	text-transform: uppercase;
	transition-duration: 0.4s;	
}

.subscribe form input[type="submit"]:hover {
 	background: #2B9C85;
}

.subscribe h4 {
	margin: 35px 0 10px 0;
}

.networks {
	padding: 0;
	margin: 0;
}

.networks ul{	
	list-style-type: none;
	margin: 0 0 0 5px;
	padding: 0;
}

.networks-list li{
	display: inline-block;
	width: 25%;
	margin-left: -4px;
}		

.networks ul li a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
}

.networks ul li a p {
	font-size: 0.7rem;
	margin: 0;	
}

.networks ul li a span {
	display: block;
	font-size: 1.6rem;
	margin: 0 0 5px;
}

.networks .followers {
	border-bottom: 1px solid white;
	padding: 15px 0;
}

.icon i{
	display: block;
  	width: 50px;
  	height: 50px;
  	background: url(../images/social-icons.png) no-repeat;
  	margin: 0 auto;    	
}

.icon {
	padding: 10px 0;
}

.icon .i-twitter {
	background-position: 6px 7px;
}

.icon .i-fb {
	background-position: -44px 7px;
}

.icon .i-email {
	background-position: -100px 7px;
}

.icon .i-dribble {
	background-position: -151px 7px;
}

.networks-list li .a-twitter {
	background-color: #34CCFF;
}	

.networks-list li .a-fb {
	background-color: #3B5A99;
}

.networks-list li .a-email {
	background-color: #27C1B9;
}

.networks-list li .a-dribble {
	background-color: #EB4D89;
}